<footer class="footer">
    <div class="footer-conteudo">

        <img  class="footer-logo" src="logoFooter.png" alt="Rebirth SUplements">

        <div class="footer-categorias">

            <section>
                <h2>Institucional</h2>

                <a routerLink="/sobre">Sobre nós</a>

            </section>

            <section>
                <h2>Área do Cliente</h2>

                <a routerLink="/login">Crie sua conta</a>
                <a routerLink="/login">Faça seu login</a>
            </section>

            <section>
                <h2>Canais de Atendimento</h2>

                <a routerLink="/ajuda">Fale conosco</a>


            </section>

        </div>
    </div>
</footer>